@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--page banner end-->
<!--主要內容區 start-->
<div class="page_banner" style="background: url('@Model.BannerImage');background-position: top center;background-size: cover;">
    <!--建議尺寸1920*470px-->
    @*<div class="container">
        <div class="page_title" data-sr="enter top over 1.5s">@Model.Title</div>
    </div>*@
</div>
<!--page banner end-->
<!--main content start-->
<div class="page_content">
    <div class="container">
        <div class="page_title" data-sr="enter left over 1.5s">@ViewBag.Title</div>
        <pre>@Html.Raw(ViewBag.Page404HtmlContent)</pre>
    </div>
</div>