@model IEnumerable<WebSiteProject.Models.RecommendedTrip_Travel>
<div class="table-scrollable">
    <table class="table table-bordered table-hover" border="0" cellspacing="0" cellpadding="0"
           id="table"
           data-url="#"
           data-sort-name='Sort'
           data-page-size='10'
           data-filed-id='RecommendedTrip_Travel_ID'
           data-max-pagination='10'>
        <thead>
            <tr>
                <th class="col-md-1 col-sm-12 col-xs-12 text-center">

                    <input type='checkbox' class='checkboxes inline' id="chk_all" />

                    <button type="button" class="btn red-mint btn-xs" id='btn_del'><i class="glyphicon glyphicon-trash"></i></button>
                </th>
                <th class="text-center">標題</th>
                <th class="text-center">圖片</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr class="text-center">
                <td><input type="checkbox" class="checkboxes chksel" value="@item.RecommendedTrip_Travel_ID" /></td>
                <td><a href="@Url.Action("RecommendedTrip_Trave_Edit",new { id=@item.RecommendedTrip_Travel_ID})">@item.RecommendedTrip_Travel_Title</a></td>
                <td><img src="@Url.Content("~/UploadImage/RecommendedTrips")/@item.RecommendedTrip_Travel_Img" style="width:100px" /></td>
            </tr>
            }
        </tbody>
    </table>
</div>
