
@{
    ViewBag.Title = "Recommendedtrips";
    Layout = "~/Areas/webadmin/Views/Shared/_Layout.cshtml";
}

<div class="title_01">Recommended trips</div>
<div id="Partial_Index_MenuLink">
    <!--.......-->
</div>
<a href="@Url.Action("Recommendedtrips_Edit")" class="btn green-meadow">新增<i class="fa fa-plus"></i></a>

