

@{
    if (TempData["Msg"] != null)
    {
        <script>
            $(function () {
                var Msg = @Html.Raw(Json.Encode(TempData["Msg"]));
                alert(Msg);
            });
        </script>
    }
}

<style>

    hr {
        margin: 0px;
        border-top: 0px solid #eee;
    }

    .Five_Thingtodo_Header {
        background-color: lightgray;
        font-weight: bolder;
    }
</style>

<!--page bar start-->
<div class="page-bar all_width">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            Destinations
            <i class="fa fa-circle"></i>
        </li>
        <li>
            目的地設定
            <i class="fa fa-circle"></i>
        </li>
        <li>目的地詳細資料設定</li>
    </ul>
</div>
<!--page bar end-->

<div class="title_01">Destinations</div>
<div id="Partial_Index_MenuLink">
    <!--.......-->
</div>


<form class="form-horizontal form-bordered" method="Post" id="editform" action="/forest/webadmin/AD/Save" enctype="multipart/form-data">
    <input data-val="true" data-val-number="欄位 ID 必須是數字。" data-val-required="ID 欄位是必要項。" id="ID" name="ID" type="hidden" value="-1">
    <input id="Type" name="Type" type="hidden" value="main">
    <input id="Img_Name_Ori" name="Img_Name_Ori" type="hidden" value="">
    <input id="Img_Name_Thumb" name="Img_Name_Thumb" type="hidden" value="">
    <input id="UploadVideoFileName" name="UploadVideoFileName" type="hidden" value="">
    <input id="UploadVideoFilePath" name="UploadVideoFilePath" type="hidden" value="">
    <input id="SType" name="SType" type="hidden" value="P">
    <input id="hid_isAdd" type="hidden" name="isAdd">
    <div class="portlet light form-fit bordered">
        <div class="portlet-body form">
            <div class="form-horizontal form-bordered">
                <div class="form-body" id="form-body">

                    <div class="form-group">
                        <div class="col-md-2 col-sm-2 col-xs-12 bg-grey_1 search_item">選擇類別</div>
                        <div class="col-md-10 col-sm-10 col-xs-12 bg-white mobile_white">
                            <select class="form-control checkitem" data-val="true" data-val-number="欄位 Site_ID 必須是數字。" data-val-required="Site_ID 欄位是必要項。" id="Site_ID" name="Site_ID">
                                <option value="">請選擇</option>
                                <option value="1">首頁(一)－Home_Index(1)</option>
                                <option value="2">首頁(二)－Home_Index(2)</option>
                                <option value="3">目的地－Destinations_Index</option>
                                <option value="4">旅遊資訊－ThingsToDo_Index</option>
                                <option value="15">推薦行程－RecommendTrip</option>
                                <option value="14">事實－FACT</option>
                                <option value="10">影片專區－Video</option>
                                <option value="5">旅遊資訊_首要必看必做－ThingsToDo_TopThingsToSeeDo</option>
                                <option value="6">旅遊資訊_鐵路森林文化－ThingsToDo_ForestryCultureRailway</option>
                                <option value="7">旅遊資訊_步行登山－ThingsToDo_WalkingHiking</option>
                                <option value="8">旅遊資訊_生態觀測－ThingsToDo_EcologicalObservation</option>
                                <option value="9">旅遊資訊_文化體驗－ThingsToDo_CultureExerience</option>
                                <option value="16">文章－Article</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2 col-sm-2 col-xs-12 bg-grey_1 search_item">顯示日期</div>
                        <div class="col-md-10 col-sm-10 col-xs-12 bg-white mobile_white">
                            <div class="input-group input-large" style="float:left">
                                <div class="date-picker input-daterange" data-date-format="yyyy/mm/dd">
                                    <input class="form-control text-box single-line" id="StDateStr" name="StDateStr" placeholder="開始日期" type="text" value="">
                                </div>
                                <span class="input-group-addon"> to </span>
                                <div class="date-picker input-daterange" data-date-format="yyyy/mm/dd">
                                    <input class="form-control text-box single-line" id="EdDateStr" name="EdDateStr" placeholder="結束日期" type="text" value="">
                                </div>

                            </div>
                            <div class="" style="float:left">
                                <button type="button" class="btn blue" id="btn_clear">清空</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2 col-sm-2 col-xs-12 search_item"><span class="red">*</span>廣告名稱</div>
                        <div class="col-md-10 col-sm-10 col-xs-12 bg-white mobile_white">
                            <input class="form-control checkitem text-box single-line" id="AD_Name" name="AD_Name" type="text" value="">
                            <span class="required" id="AD_Name-error" style="display:none">廣告名稱必須輸入</span>
                        </div>
                    </div>
                    <div class="form-group" id="F_Description">
                        <div class="col-md-2 col-sm-2 col-xs-12 search_item">廣告描述</div>
                        <div class="col-md-10 col-sm-10 col-xs-12 bg-white mobile_white">
                            <textarea cols="80" id="ADDesc" rows="3" class="form-control" maxlength="500"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 col-sm-2 col-xs-12 search_item">廣告圖片上傳</div>
                        <div class="col-md-10 col-sm-4 col-xs-12 bg-white mobile_white">

                            <div id="div_oldfile" style="display:none"><a target="preview"></a><label style="color:blue;margin-left:10px;cursor:pointer" id="delimage">刪除</label></div>
                            <input id="file_image" type="file" name="uploadfile" accept="image/*">
                            <span style="color:red;padding-left; font-size:12px">檔案類型jpg、png、gif，建議檔案大小2MB內，建議尺寸1200*2000px</span>
                        </div>
                    </div>
                    <div class="form-group" id="F_Video">
                        <div class="col-md-2 col-sm-12 search_item">影片上傳</div>
                        <div class="col-md-10 col-sm-12 bg-white mobile_white">
                            <div class="col-md-12">
                                <div id="div_olduploadfile" style="display:none"><a href="/forest/webadmin/AD/VideoDownLoad/-1" target="preview"></a><label style="color:blue;margin-left:10px;cursor:pointer" id="delupfile">刪除</label></div>
                                <div id="div_nofile" style="display:inline">
                                    <div class="col-md-10">
                                        <input type="file" id="uploadvideofile" class="display_inline" name="UploadVideoFile" accept="video/*">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 col-sm-2 col-xs-12 search_item">連結路徑</div>
                        <div class="col-md-10 col-sm-4 col-xs-12 bg-white mobile_white">
                            <input class="form-control text-box single-line" id="Link_Href" name="Link_Href" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 col-sm-2 col-xs-12 search_item">開啟方式</div>
                        <div class="col-md-10  col-xs-12 bg-white mobile_white">
                            <input checked="checked" id="Link_Mode" name="Link_Mode" style="margin-left :0px" type="radio" value="1">原視窗
                            <input id="Link_Mode" name="Link_Mode" style="margin-left :40px" type="radio" value="2"> 新視窗
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="text-center search_padding">
        <button type="submit" class="btn blue" id="btn_submit">確認送出</button>
        <button type="button" class="btn grey-mint" id="btn_return">返回列表</button>
    </div>
</form>