@{
    int ID = ViewBag.ID;
    var url = ViewBag.LinkUrl==null||ViewBag.LinkUrl==""?"":ViewBag.LinkUrl;
    var urlDes = ViewBag.LinkUrlDES;
    var UpfileName = ViewBag.UpfileDES==null||ViewBag.UpfileDES==""?"":ViewBag.UpfileDES;
    var UpfileDes = ViewBag.Upfile;


}
@{
    <div class="page_bottom">
        @if (url!="")
        {
            <div class="link">
                <div class="title"><i class="fa fa-link" aria-hidden="true"></i>Link</div>
                <div class="con_font">
                    <a href="@url" target="_blank" title="@urlDes (new window)">@urlDes</a>
                </div>
            </div>
        }
        @if (UpfileName!="")
        {
            <div class="download">
                <div class="title"><i class="fa fa-download" aria-hidden="true"></i>Download</div>
                <div class="con_font">
                    <a href="@Url.Action("FileDownLoad",new {itemid=ID})" target="_blank" title="@UpfileDes (new window)">@UpfileName</a>
                </div>
            </div>
        }
    </div>
}
