<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="SystemLog" xsi:type="File"
        fileName="c:/Logs/SystemLog/SystemLog_${shortdate}.txt"
        layout="${longdate} | ${level:uppercase=true} |  ${message}"
        archiveEvery="Day"
        archiveNumbering="Date"
        concurrentWrites="true"
        keepFileOpen="false"
        maxArchiveFiles="365"
        archiveFileName="c:/Logs/SystemLog/archive/log.{#}.txt"
        archiveDateFormat="yyyyMMdd"
        encoding="utf-8" />

    <target name="DBLog" xsi:type="File"
           fileName="c:/Logs/DBLog/DBLog_${shortdate}.txt"
           layout="${longdate} | ${level:uppercase=true} |  ${message}"
           archiveEvery="Day"
           archiveNumbering="Date"
           concurrentWrites="true"
           keepFileOpen="false"
           maxArchiveFiles="365"
           archiveFileName="c:/Logs/DBLog/archive/log.{#}.txt"
           archiveDateFormat="yyyyMMdd_HHmm"
           encoding="utf-8" />

    <target name="TradeLog" xsi:type="File"
      fileName="c:/Logs/TradeLog/TradeLog_${shortdate}.txt"
      layout="${longdate} | ${level:uppercase=true} |  ${message}"
      archiveEvery="Day"
      archiveNumbering="Date"
      concurrentWrites="true"
      keepFileOpen="false"
      maxArchiveFiles="365"
      archiveFileName="c:/Logs/TradeLog/archive/log.{#}.txt"
      archiveDateFormat="yyyyMMdd"
      encoding="utf-8" />
    
  </targets>

  <rules>
    <logger name="SystemLog"  levels="Trace,Debug,Info,Warn,Fatal,Error" writeTo="SystemLog" />
    <logger name="DBLog"  levels="Trace,Debug,Info,Warn,Fatal,Error" writeTo="DBLog" />
    <logger name="TradeLog"  levels="Trace,Debug,Info,Warn,Fatal,Error" writeTo="TradeLog" />
  </rules>
</nlog>