@model WebSiteProject.Models.Destination_MapLegend


<!--map start-->
<div class="page_map">
    <div class="container">

        <div class="font_box">
            <div class="title">@Html.Raw(ViewBag.Title)</div>
            <div class="con_font">@Html.Raw(ViewBag.Content)</div>
            <div class="menu">
                <div id="MapL" class="menu_title">MAP LEGEND</div>
                <ul>
                    <li class="color hover"><a href="javascript:void(0);" id="page_01" name="page_01" title="Regions" class="active">*Regions</a></li>
                    <li class="color hover"><a href="javascript:void(0);" id="page_02" name="page_02" title="Forest recreation area">*Forest recreation area</a></li>
                    <li class="color hover"><a href="javascript:void(0);" id="page_03" name="page_03" title="Airport location">*Airport location </a></li>
                    <li class="color hover"><a href="javascript:void(0);" id="page_04" name="page_04" title="Taiwan time">*Taiwan time</a></li>
                </ul>
            </div>
        </div>
        <div class="img hidden-xs"><img src="@Url.Content("~/UploadImage/MapLEGEND_Img/")@Html.Raw(ViewBag.ImgName)" /></div><!--建議尺寸800*478px-->
        <div class="img visible-xs"><img src="img/d_map_01_m.png" /></div><!--建議尺寸，寬500px-->

    </div>
</div>
<!--map end-->